<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <li class="treeview">
        <a href="#"><i class="fa fa-circle"></i> <span>Menu 1</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#">Submenu 1</a></li>
          <li><a href="#">Submenu 2</a></li>
          <li><a href="#">Submenu 3</a></li>
        </ul>
      </li>
      {% if role == 'Admin' %}
      <li class="active"><a href="{{path_for('home.general')}}"><i class="fa fa-circle"></i> <span>General</span></a></li>
      {% endif %}
    </ul>
  </section>
</aside>
