<header class="main-header">
  <a href="{{path_for('home.index')}}" class="logo">
    <span class="logo-mini"><b>ME</b></span>
    <span class="logo-lg"><b>ME</b>Panel</span>
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session}} ({{role}}) <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{path_for('login.destroy')}}">Sair</a></li>
            </ul>
          </li>
        </ul>

      </ul>
    </div>
  </nav>
</header>
