{% extends 'interface/home.twig' %}
{% block content %}

<div class="content-wrapper">
<section class="content-header">
  <h1>
    General UI
    <small></small>
  </h1>
</section>

<section class="content">
  <div class='row'>
  {% include 'error/error.twig' %}
  {% include 'flash/flash.twig' %}

  <div class="col-md-6">

    <div class="box box-info">

      <div class="box-header with-border">
        <h3 class="box-title">Simple Form Elements</h3>
      </div>

      <form role="form">
        <div class="box-body">

          <div class="form-group">
            <label>Text</label>
            <input class="form-control" placeholder="Enter ..." type="text">
          </div>

          <div class="form-group">
            <label>Textarea</label>
            <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
          </div>

          <div class="form-group">
            <label>Select</label>
            <select class="form-control">
              <option>option 1</option>
              <option>option 2</option>
            </select>
          </div>

        </div>

        <div class="box-footer">
          <button type="submit" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-info pull-right">Sign in</button>
        </div>

      </form>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-info">

      <div class="box-header with-border">
        <h3 class="box-title">Advanced Form Elements</h3>
      </div>

      <div class="box-body">

          <div class="form-group">
            <label>Minimal</label>
            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
              <option selected="selected">Alabama</option>
              <option>Alaska</option>
              <option>California</option>
              <option>Delaware</option>
              <option>Tennessee</option>
              <option>Texas</option>
              <option>Washington</option>
            </select>
          </div>

          <div class="form-group">
            <label>Multiple</label>
            <select class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Select a State" style="width: 100%;" tabindex="-1" aria-hidden="true">
              <option>Alabama</option>
              <option>Alaska</option>
              <option>California</option>
              <option>Delaware</option>
              <option>Tennessee</option>
              <option>Texas</option>
              <option>Washington</option>
            </select>
          </div>

          <div class="form-group">

              <div class='input-group date '>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                  <input type='text' class="form-control datetimepicker" name="start"/>
              </div>
          </div>
          
          <div class="form-group">
              <label>Date Picker</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input class="form-control pull-right" id="datepicker" type="text">
             </div>
          </div>

    </div>

    <div class="box-footer">

    </div>

    </div>
  </div>

  <div class="col-md-6">

    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Simple Bordered Table</h3>
      </div>

      <div class="box-body">
        <table class="table table-bordered">

          <tbody>
            <tr>
            <th style="width: 10px">#</th>
            <th>Task</th>
            <th>Progress</th>
            <th style="width: 40px">Label</th>
           </tr>
          <tr>
            <td>1.</td>
            <td>Update software</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
              </div>
            </td>
            <td><span class="badge bg-red">55%</span></td>
          </tr>
        </tbody>

      </table>
      </div>
    </div>

  </div>


</div>

</section>
</div>

{% endblock %}
