{% extends 'interface/home.twig' %}
{% block content %}

{% include 'error/error.twig' %}
{% include 'flash/flash.twig' %}

<div class="col-md-6 offset-md-3">

  <div style="margin-bottom:5%;">
  <a class="btn btn-primary" href="{{path_for('home.agendamento.agendar')}}">Agendar Sala</a>
  </div>

  <div style="margin-bottom:5%;">
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Número da Sala</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for sala in salas %}
      <tr>
        <td>{{sala.numero}}</td>
        <td>
          <a class="btn btn-primary" href="{{path_for('home.agendamento.calendar', {id: sala.id} )}}">Calendário</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
