{% include 'interface/librarycss.twig' %}
{% include 'register/navbar.twig' %}
<br /><br />
<div class="login-box well">
  {% include 'error/error.twig' %}
  {% include 'flash/flash.twig' %}
    <div class="login-box-body" style="background-color:transparent;">
      <form action="{{ path_for('register.store')}}" method="post">

        <div class="form-group has-feedback">
          <input type="email" name="email" class="form-control" placeholder="Email" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <input type="password" name="senha" class="form-control" placeholder="Senha" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <input type="password" name="resenha" class="form-control" placeholder="Confirme a Senha" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
          </div>
        </div>

      </form>
    </div>
</div>

{% include 'interface/libraryjs.twig' %}
